<div class="container">
    <div class="ordem-compra">
      
      <form #formPedido="ngForm" (ngSubmit)="realizarCompra()" novalidate *ngIf="!idPedido">
      
        <h5>Sua Compra</h5>
        <hr />
  
        <div *ngFor="let item of carrinho" class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
          <div>
            <div class="form-group col-sm-1">
              <img src="{{item.img.url}}" class="img-fluid">
            </div>
            <div class="form-group col-sm-6">
              {{item.titulo}}
              <br />
              {{item.descricao_oferta}}
            </div>
  
            <div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-link" (click)="removeItemCarrinho(item)">-</button>
                  {{item.quantidade}}
                  <button type="button" class="btn btn-link" (click)="addItemCarrinho(item)">+</button>
                </div>
              </div>
            </div>
  
            <div class="form-group col-sm-3 d-flex justify-content-end">
              {{item.valor | currency:'R$'}}
            </div>
          </div>
          
        </div>
        
        <div class="form-row">
          <div class="form-group col d-flex justify-content-end">
            <h4>Total do pedido: {{this.carrinhoService.getTotal() | currency:'R$'}}</h4>
          </div>
        </div>
        <br />
        <h5>Dados de entrega</h5>
        <hr />
  
        <div class="form-row">
  
          <div class="form-group col-md-6">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Endereço" 
              autocomplete="off" 
              minlength="5" 
              required
              name="endereco"
              ngModel
              #inputEndereco="ngModel"
            >
            <small *ngIf="inputEndereco.invalid && (inputEndereco.touched)" class="form-text text-danger">Endereço inválido</small>
            <small *ngIf="inputEndereco.valid && (inputEndereco.touched)" class="form-text text-success">Endereço Válido</small>
          </div>
  
          <div class="form-group col-md-2">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Número" 
              autocomplete="off" 
              minlength="1"
              required
              name="numero"
              ngModel
              #inputNumero="ngModel"
              pattern="[0-9]+"
            >
            <small *ngIf="inputNumero.invalid && (inputNumero.touched)" class="form-text text-danger">Número Inválido</small>
            <small *ngIf="inputNumero.valid && (inputNumero.touched)" class="form-text text-success">Ok</small>
          </div>
  
          <div class="form-group col-md-4">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Complemento" 
              autocomplete="off"
              name="complemento"
              ngModel
            >
          </div>
  
        </div>
        <br />
  
        <h5>Dados de pagamento</h5>
        <hr />
  
        <div class="form-row">
            
          <div class="form-group col-md-3">
            <select 
              class="form-control"
              name="formaPagamento"
              ngModel
              required
              #selectFormaPagamento="ngModel"
            >
              <option value="">Selecione uma opção</option>
              <option value="dinheiro">Dinheiro</option>
              <option value="debito">Débito</option>
            </select>
            <small *ngIf="selectFormaPagamento.valid && (selectFormaPagamento.touched)" class="form-text text-success">Forma de pagamento Válida</small>
            <small *ngIf="selectFormaPagamento.invalid && (selectFormaPagamento.touched)" class="form-text text-danger">Forma de pagamento inválida</small>
          </div>
        </div>
  
        <hr />
        <button 
          type="submit" 
          class="btn btn-primary btn-lg"
          [disabled]="!formPedido.valid"
        >Cofirmar compra</button>
      </form>
      <div *ngIf="idPedido">
        <app-ordem-compra-sucesso [idPedidoCompra]="idPedido"></app-ordem-compra-sucesso>
        <button type="button" class="btn-primary" (click)="novoPedido()">Fazer Novo Pedido</button>
      </div>
    </div>
  </div>