<div class="fixed-top">
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <a routerLink="/" >
        <img src="/assets/logo.png" />
      </a>
      <a [routerLink]="['/carrinho']"><img src="/assets/carrinho.png" /></a>
    </div>
  </nav>
  <nav class="navbar navbar-default">
    <div class="container">
      <nav class="nav">
        <a routerLinkActive="active" routerLink="/restaurantes">Restaurantes</a>
        <a routerLinkActive="active" routerLink="/diversao">Diversão</a>
        <form action="#" class="navbar-form navbar-left">
          <div class="form-group dropdown" [ngClass]="{'open': ofertas.length}">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Busca"
              #inputBusca
              (keyup)="pesquisaTermo(inputBusca.value)"
            />
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li *ngFor="let oferta of ofertas"><a [routerLink]="['/oferta', oferta.id]" (click)="limpaCampo(inputBusca)">{{oferta.titulo | descricaoReduzida:15}}</a></li>
            </ul>
          </div>
        </form>
      </nav>
    </div><!-- /.container-fluid -->
  </nav>
</div>

<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>